.image {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 764px) {
  form {
    width: 100% !important;
  }
  .search {
    width: 100% !important;
  }
  .searchBox {
    width: 100% !important;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100% !important;
  }
}
